* {  margin: 0; padding: 0; border: 0;}
@font-face {
    font-family: 'ConsolasRegular';
    src: url('../font/consolas/consolas-webfont.eot');
    src: url('../font/consolas/consolas-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/consolas/consolas-webfont.woff') format('woff'),
         url('../font/consolas/consolas-webfont.ttf') format('truetype'),
         url('../font/consolas/consolas-webfont.svg#ConsolasRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
body{ background-color: #3D4143; overflow: hidden; color:#cccccc; font-family:Consolas, 'ConsolasRegular', 'Courier New', monospace;; font-size: 11px;}
input{ margin:0; padding:8px; background:linear-gradient(#72797D , #3D4143); color:#cccccc; font-family:Consolas, 'ConsolasRegular', 'Courier New', monospace;;}
input[type='button'] {border: 2px solid #72797D; cursor: pointer;}
input[type='button']:hover{border: 2px solid #72797D; cursor: pointer;background: #11BBFF; color:#000000;}
#interface{ position: absolute; left:10px; top:10px; width:100%; height:20px; }
#info{ pointer-events:none; position: absolute; left:10px; top:60px; width: 400px; height: 400px; }
#link{ position: absolute; left:0; bottom:0; width:100%; height:30px; font-size:14px; word-spacing:10px; text-align:right; margin-left:-30px; font-weight:bold; }
a:link {color: #cccccc; text-decoration: none;}
a:visited {color: #cccccc; text-decoration: none;}
a:hover {color: #11BBFF; text-decoration: none;}
a:active {color: #11BBFF; text-decoration: none;}