* {  margin: 0; padding: 0; border: 0;}
@font-face { font-family: 'SourceCode'; src: url('../images/f.woff') format('woff');}
body{ background-color: #3D4143; overflow: hidden; color:#cccccc; font-family:SourceCode; font-size: 12px;}
input{ margin:0; padding:8px; background:linear-gradient(#72797D , #3D4143); color:#cccccc; font-family:SourceCode;}
input[type='button'] {border: 2px solid #72797D; cursor: pointer;}
input[type='button']:hover{border: 2px solid #72797D; cursor: pointer;background: #11BBFF; color:#000000;}
#interface{ position: absolute; left:10px; top:10px; width:100%; height:20px; }
#info{ pointer-events:none; position: absolute; left:10px; top:60px; width: 400px; height: 400px; }
#link{ position: absolute; left:0; bottom:0; width:100%; height:30px; font-size:14px; word-spacing:10px; text-align:right; margin-left:-30px; font-weight:bold; }
a:link {color: #cccccc; text-decoration: none;}
a:visited {color: #cccccc; text-decoration: none;}
a:hover {color: #11BBFF; text-decoration: none;}
a:active {color: #11BBFF; text-decoration: none;}