
/* -------------------- */
/*         MAIN         */
/* -------------------- */

*{ 
	padding:0; margin:0;
	-o-user-select:none; -ms-user-select:none; -khtml-user-select:none; 
	-webkit-user-select:none; -moz-user-select: none;/* pointer-events:none; */
	box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;
}
html, body {
	font-family: monospace;
	font-size: 10px;
    height:100%;
    background:#25292e;
    color:#d2cec8;
    /*text-shadow: 1px 1px 1px rgba(0,0,0,0.3);*/
    overflow:hidden;
    font-smooth: never;
    -webkit-font-smoothing : none;
    pointer-events:none;
}

body{
    background-image:url(../images/cartographer.png);
}

canvas { position: absolute; top:0; left:50%; pointer-events:auto; width:50%; height:100%; }

.menu{
    position:absolute;
    pointer-events:none;
    height:100%;
}

.title{
    position:absolute;
    font-size: 16px;
    left:10px;
    bottom:30px;
}
.subtitle{
    position:absolute;
    left:10px;
    bottom:10px;
    width:300px;
    height:20px;
}

.info{
pointer-events:none; position:absolute;
    left:10px;
    top:40px;
    width:200px;
    height:200px;
}

.error{
    pointer-events:none; position:absolute;
    right:10px;
    bottom:30px;
    width:300px;
    height:200px;
    color:#FF6600;
    text-align:right;
}

#ribbon{
    position: absolute; top:-50px; right:48px;
    width:30px; height:200px; background:none; 
    pointer-events:auto; cursor:pointer;
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.separator {
    position:absolute; background-color:none; pointer-events:auto; display:block; 
    border-left:1px solid rgba(255, 255, 255, 0.2); 
    border-right:1px solid rgba(255, 255, 255, 0.2);
    /*z-index:2;*/
    left:calc(50% - 10px); top:0px; width:20px; height:100%;
    /*text-align: center;*/
    color: rgba(255, 255, 255, 0.2);
    font-size: 14px;
    cursor:e-resize;
    letter-spacing:-4px;
    padding-left: 1.5px;
    /*padding-top:25%;*/
}

/* EDITOR */

.editor {
	position:absolute; background-color:none; pointer-events:none; display:block; /*border:1px solid #666; z-index:1;*/
    width:50%; height:100%;
   /* left:10px; top:10px; width:calc(50% - 20px); height:calc(100% - 20px);*/


}

/* -------------------- */
/*     CODE MIRROR      */
/* -------------------- */

.CodeMirror {
    /*padding-top: 20px;
    padding-bottom: 10px;*/
    pointer-events:auto;
    height: 100%;
    font-family: Consolas, 'ConsolasRegular', 'Courier New', monospace;
    -webkit-font-smoothing: subpixel-antialiased;
    font-size: 12px;
    line-height: 123%;
    /*letter-spacing:0px;
    padding-right: 20px;*/
    background-color: none;
    border:none;
    margin-left:10px;
    /*-webkit-transform: translateZ(0);
     backface-visibility: hidden;
    transform: translate3d(0,0,0);*/
}

/* PADDING */

.CodeMirror-lines {
    padding: 4px 0; /* Vertical padding around content */
}
.CodeMirror pre {
    padding: 0 4px; /* Horizontal padding of content */
}


/*BOTTOM CORNER*/
.CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
    background:none;
}

.CodeMirror-focused .cm-matchhighlight { 
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAFklEQVQI12NgYGBgkKzc8x9CMDAwAAAmhwSbidEoSQAAAABJRU5ErkJggg==);
    background-position: bottom;
    background-repeat: repeat-x;
}

/* GUTTER */

.CodeMirror-gutters {
    border-right: 1px solid #ddd;
    /*background-color: #D0D0D0;*/
    background: none;
    white-space: nowrap;
}
.CodeMirror-linenumbers {}
.CodeMirror-linenumber {
    padding: 0 3px 0 5px;
    /*margin-left: -20px;*/
    min-width: 10px;
    text-align: left;
    /*background: #D0D0D0;*/
    background: none;
    color: #AAA;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.CodeMirror-guttermarker { color: black; }
.CodeMirror-guttermarker-subtle { color: #999; }

/* CURSOR */

.CodeMirror div.CodeMirror-cursor {
    border-left: 1px solid black;
}
/* Shown when moving in bi-directional text */
.CodeMirror div.CodeMirror-secondarycursor {
    border-left: 1px solid silver;
}
.CodeMirror.cm-fat-cursor div.CodeMirror-cursor {
    width: auto;
    border: 0;
    background: #7e7;
}
.CodeMirror.cm-fat-cursor div.CodeMirror-cursors {
    z-index: 1;
}

.cm-animate-fat-cursor {
    width: auto;
    border: 0;
    -webkit-animation: blink 1.06s steps(1) infinite;
    -moz-animation: blink 1.06s steps(1) infinite;
    animation: blink 1.06s steps(1) infinite;
}
@-moz-keyframes blink {
    0% { background: #7e7; }
    50% { background: none; }
    100% { background: #7e7; }
}
@-webkit-keyframes blink {
    0% { background: #7e7; }
    50% { background: none; }
    100% { background: #7e7; }
}
@keyframes blink {
    0% { background: #7e7; }
    50% { background: none; }
    100% { background: #7e7; }
}

/* Can style cursor different in overwrite (non-insert) mode */
div.CodeMirror-overwrite div.CodeMirror-cursor {}

.cm-tab { display: inline-block; text-decoration: inherit; }

.CodeMirror-ruler {
    border-left: 1px solid #ccc;
    position: absolute;
}



/* Default styles for common addons */

div.CodeMirror span.CodeMirror-matchingbracket {color: #0f0;}
div.CodeMirror span.CodeMirror-nonmatchingbracket {color: #f22;}
.CodeMirror-matchingtag { background: rgba(255, 150, 0, .3); }
.CodeMirror-activeline-background {background: #e8f2ff;}

/* STOP */

/* The rest of this file contains styles related to the mechanics of
   the editor. You probably shouldn't touch them. */

.CodeMirror {
    line-height: 123%;
    position: relative;
    overflow: hidden;
    background: none;
    color: #2b2e41;
}

.CodeMirror-scroll {
    overflow: scroll !important; /* Things will break if this is overridden */
    /* 30px is the magic margin used to hide the element's real scrollbars */
    /* See overflow: hidden in .CodeMirror */
    margin-bottom: -30px; margin-right: -30px;
    padding-bottom: 30px;
    height: 100%;
    outline: none; /* Prevent dragging from highlighting the element */
    position: relative;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.CodeMirror-sizer {
    position: relative;
    border-right: 30px solid transparent;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

/* The fake, visible scrollbars. Used to force redraw during scrolling
   before actuall scrolling happens, thus preventing shaking and
   flickering artifacts. */
.CodeMirror-vscrollbar, .CodeMirror-hscrollbar, .CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
    position: absolute;
    z-index: 6;
    display: none;
} 
.CodeMirror-vscrollbar { right: 0; top: 0; overflow-x: hidden; overflow-y: scroll; }
.CodeMirror-hscrollbar { bottom: 0; left: 0; overflow-y: hidden; overflow-x: scroll; }
.CodeMirror-scrollbar-filler { right: 0; bottom: 0; }
.CodeMirror-gutter-filler { left: 0; bottom: 0; }
.CodeMirror-gutters { position: absolute; left: 0; top: 0; z-index: 3; }
.CodeMirror-gutter {
    white-space: normal;
    height: 100%;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    display: inline-block;
    margin-bottom: -30px;
    /* Hack to make IE7 behave */
    *zoom:1;
    *display:inline;
}
.CodeMirror-gutter-wrapper { position: absolute; z-index: 4;  height: 100%; }
.CodeMirror-gutter-elt { position: absolute; cursor: default; z-index: 4; }
.CodeMirror-lines { cursor: text; min-height: 1px; /* prevents collapsing before first draw */ }
.CodeMirror pre {
    /* Reset some styles that the rest of the page might have set */
    -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
    border-width: 0;
    background: transparent;
    font-family: inherit;
    font-size: inherit;
    margin: 0;
    white-space: pre;
    word-wrap: normal;
    line-height: inherit;
    color: inherit;
    z-index: 2;
    position: relative;
    overflow: visible;
}
.CodeMirror-wrap pre { word-wrap: break-word; white-space: pre-wrap; word-break: normal; }
.CodeMirror-linebackground { position: absolute; left: 0; right: 0; top: 0; bottom: 0; z-index: 0; }
.CodeMirror-linewidget { position: relative; z-index: 2; overflow: auto; }
.CodeMirror-widget {}
.CodeMirror-measure { position: absolute; width: 100%; height: 0; overflow: hidden; visibility: hidden; }
.CodeMirror-measure pre { position: static; }

.CodeMirror div.CodeMirror-cursor { position: absolute; border-right: none; width: 0; }
div.CodeMirror-cursors { visibility: hidden; position: relative; z-index: 3; }
.CodeMirror-focused div.CodeMirror-cursors { visibility: visible; }

.CodeMirror-selected { background: #d9d9d9; }
.CodeMirror-focused .CodeMirror-selected { background: #d7d4f0; }
.CodeMirror-crosshair { cursor: crosshair; }

.cm-searching {
    background: #ffa;
    background: rgba(255, 255, 0, .4);
}

/* IE7 hack to prevent it from returning funny offsetTops on the spans */
.CodeMirror span { *vertical-align: text-bottom; }

/* Used to force a border model for a node */
.cm-force-border { padding-right: .1px; }

@media print {
    /* Hide the cursor when printing */
    .CodeMirror div.CodeMirror-cursors {
       visibility: hidden;
    }
}

/* See issue #2901 */
.cm-tab-wrap-hack:after { content: ''; }

/* Help users use markselection to safely style text background */
span.CodeMirror-selectedtext { background: none; }



/* Based on Sublime Text's Monokai theme */

.cm-s-monokai.CodeMirror {background: none; color: #D0D0D0;}
/*.cm-s-monokai .cm-punctuation {color:#D0D0D0;}*/
.cm-s-monokai div.CodeMirror-selected {background: rgba(100,100,100,0.3) !important;}
.cm-s-monokai .CodeMirror-gutters {background:none; color:#ffffff; border-right: 0px;}
.cm-s-monokai .CodeMirror-guttermarker { color: white; }
.cm-s-monokai .CodeMirror-guttermarker-subtle { color: #d0d0d0; }
.cm-s-monokai .CodeMirror-linenumber { color: #606060; background:none; }
.cm-s-monokai .CodeMirror-cursor {border-left: 1px solid #f8f8f0 !important;}

.cm-s-monokai.CodeMirror span.CodeMirror-matchingbracket { color: #7EFC7E; }
.cm-s-monokai span.cm-punctuation {color:#FF0000;}

.cm-s-monokai span.cm-comment {color: #75715e;}
.cm-s-monokai span.cm-atom {color: #ae81ff;}
.cm-s-monokai span.cm-number {color: #ae81ff;}

.cm-s-monokai span.cm-property {color: #a6e22e;}
.cm-s-monokai span.cm-attribute {color: #a6e22e;}
.cm-s-monokai span.cm-keyword {color: #66d9ef;}
.cm-s-monokai span.cm-string {color: #e6db74;}

.cm-s-monokai span.cm-variable {color: #deded4;}
.cm-s-monokai span.cm-variable-2 {color: #9effff;}
.cm-s-monokai span.cm-variable-3 {color: #ff0000;}
.cm-s-monokai span.cm-def {color: #f8f8f2;}
.cm-s-monokai span.cm-bracket {color: #f8f8f2;}
.cm-s-monokai span.cm-tag {color: #f92672;}
.cm-s-monokai span.cm-link {color: #ae81ff;}
.cm-s-monokai span.cm-error {background: #f92672; color: #f8f8f0;}


.cm-s-monokai span.cm-operator {color: #f92672;}
.cm-s-monokai span.cm-qualifier {color: #FF0555;}
.cm-s-monokai span.cm-string-2 {color: #f50;}
.cm-s-monokai span.cm-meta {color: #555;}
.cm-s-monokai span.cm-builtin {color: #ff030a;}
.cm-s-monokai span.cm-hr {color: #999;}
.cm-s-monokai span.cm-header {color: blue;}
.cm-s-monokai span.cm-quote {color: #0F0;}

.cm-s-monokai .CodeMirror-activeline-background {background: #373831 !important;}
.cm-s-monokai .CodeMirror-matchingbracket {
    text-decoration: underline;
    color: white !important;
}

.cm-s-monokai ::-webkit-scrollbar-track:vertical{
    background: none;
    /*background-color: #202020;
    box-shadow: -12px 0px 12px -12px rgba(0, 0, 0, 0.3) inset;*/
}
.cm-s-monokai ::-webkit-scrollbar-track:horizontal{
    background: none;
    /*background-color: #202020;
    box-shadow: 0px -12px 12px -12px rgba(0, 0, 0, 0.3) inset;*/
}

/*.cm-s-monokai .CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
  background:none;
}*/

.cm-s-monokai ::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2);/*#333;*/
    border:5px solid rgba(0,0,0,0);
    /*border-radius: 25px;*/
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    box-shadow: 1px 1px 0px 1px rgba(255, 255, 255, 0.1) inset;
}
.cm-s-monokai ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.6);/*#555;*/

}

.cm-s-monokai ::-webkit-scrollbar {
    width:20px;
    height:20px;
}

/* ERROR */

.CodeMirror .esprima-error {
    color: #f00;
    text-align: left;
    padding: 0px 20px;
}
.CodeMirror .errorLine { background: rgba(255,0,0,0.25); }
.CodeMirror .esprima-error {
    color: #f00;
    text-align: left;
    padding: 0px 20px;
}