body {
	background-color: #161616;
	color: #cfba58;
	font-family: helvetica, arial,sans-serif;
	font-size:11px;
	height: 100%;
	margin: 0px;
	overflow: hidden;
	text-align:center;
}
#loader {
	position: absolute;
	left: calc(50% - 150px);
 	top: calc(50% - 150px);
	height:300px;
	width:300px;
	text-align: left;
	display:block;
	background-color: #161616;
	border:1px solid #303030;
	text-align:center;
}
#loadIcon {
	top:50%;position: absolute;
	margin-left: -38px;
	margin-top:-72px;
}
#loadTxt{
	top:50%;
	color: #f0efd1;
	position: relative;
	font-size:16px;
}
#logo {
	top:0px;
	margin-top: -6px;
	margin-left:-45px;
	position: absolute;
	pointer-events: none;
}
#titre {
	position: absolute;
	top: 20px;
	font-size:18px;
	margin-left:45px;
	height:30px;
	width: 250px;
	left: 10px;
	text-align: left;
}
#info {
	font-family:Monospace;
	position: absolute;
	color:#292827;
	bottom: 10px;
	width: 400px;
	right: 100px;
	text-align: right;
}
#debug {
	position: absolute;
	font-size:10px;
	color:#606060;
	top: 60px;
	width: 300px;
	height: 400px;
	left: 10px;
	margin-left: 10px;
	margin-top: 5px;
	text-align: left;
	pointer-events: none;
}
#cursor {
	pointer-events: none;
	position: absolute;
}
#cursorDown {
	position:absolute;
	margin-left:-16px;
	margin-top: -16px;
	visibility:hidden;
}
#cursorUp {
	position:absolute;
	margin-left:-16px;
	margin-top: -16px;
	visibility:hidden;
}
#menu {
    top: 12px;
    width: 500px;
    right:10px;
    position: absolute;
    display:block;
    text-align: right;
    margin-right: -2px;
}
button {
	color: #f0efd1;
	font-weight:bold;
	border:1px solid #303030;
    font-size: 10px;
    height: 35px;
    width: 100px;
    margin-right: -2px;
    margin-left: 2px;
    cursor: pointer;
    background-color: #202020;
}
a { color: #f0efd1; text-decoration:none; cursor: pointer;}
a:visited { color: #f0efd1; text-decoration:none}
.unselectable{
    -moz-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}